@import "./_reset.scss"; // 全局样式
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

//顶部栏
.header-wrap {
    width: 100%;
    height: 30px;
    background: #333333;
    .clearfix {
        width: 1080px;
        height: 30px;
        margin: 0 auto;
        .header-left {
            float: left;
            li {
                float: left;
                line-height: 30px;
                a {
                    font-size: 12px;
                    color: #cccccc;
                }
                a:hover {
                    color: #ffffff;
                }
                b {
                    display: inline-block;
                    width: 1px;
                    height: 11px;
                    background: #cbcbcb;
                    margin: 0 18px;
                    vertical-align: middle;
                }
            }
        }
        .header-right {
            float: right;
            li {
                float: left;
                line-height: 30px;
                position: relative;
                text-align: center;
                a:hover {
                    color: #ffffff;
                }
                a {
                    font-size: 12px;
                    color: #cccccc;
                }
                b {
                    display: inline-block;
                    width: 1px;
                    height: 11px;
                    background: #cbcbcb;
                    margin: 0 18px;
                    vertical-align: middle;
                }
            }
            .right-user {
                display: inline-block;
                .login {
                    margin-right: 20px;
                }
            }
            .right-downApp {
                .downApp {
                    width: 150px;
                    height: 248px;
                    padding-top: 15px;
                    position: absolute;
                    left: -30px;
                    display: none;
                    z-index: 100;
                    background: #ffffff;
                    p {
                        font-size: 12px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                    }
                    .img1 {
                        display: inline-block;
                        width: 40px;
                    }
                    .img2 {
                        margin-top: 15px;
                        display: inline-block;
                        width: 120px;
                    }
                }
            }
            .right-downApp:hover .downApp {
                display: block;
            }
            .right-msg {
                display: inline-block;
                padding-left: 30px;
                background:url(http://static3.biyao.com/pc/common/img/master/msgcenter.png?v=biyao_7dcad45) no-repeat 2px 9px;;
                span {
                    display: inline-block;
                    font-size: 12px;
                    color: #cccccc;
                }
            }
            .right-server {
                div {
                    padding-top: 5px;
                    width: 124px;
                    height: 49px;
                    background: #ffffff;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 54px;
                    position: absolute;
                    z-index: 10;
                    left: -30px;
                    display: none;
                    p {
                        font-size: 16px;
                        width: 124px;
                        height: 44px;
                        line-height: 44px;
                        text-align: center;
                        border-radius: 5px;
                    }
                }
            }
            .right-server:hover div {
                display: block;
            }
            .right-server div p:hover {
                background: #f0f0f0;
            }
            .right-shopCar {
                width: 110px;
                height: 30px;
                background: #523669 url(http://static.biyao.com/pc/common/img/master/shopCar.png?v=biyao_450e7fc) no-repeat 15px 7px;
                text-align: center;
                a {
                    display: inline-block;
                    margin-left: 15px;
                }
                .num {
                    font-size: 12px;
                    color: #cccccc;
                }
            }
        }
    }
}

//吸顶菜单
.retract-wrap {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eae4e8;
    background: #ffffff;
    position: fixed;
    z-index: 20;
    top: 0;
    .retract {
        width: 1080px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
        .retract-left {
            width: 100px;
            height: 60px;
            line-height: 60px;
            vertical-align: middle;
            float: left;
            span {
                display: block;
                font-size: 16px;
                color: gray;
                float: left;
            }
            i {
                display: inline-block;
                width: 15px;
                height: 8px;
                margin-left: 10px;
                background: url(http://static2.biyao.com/pc/common/img/master/categoryDown.png?v=biyao_58c52bc) no-repeat;
            }
        }
        .retract-right {
            margin-top: 10px;
            float: right;
            width: 360px;
            p {
                position: relative;
                z-index: 2;
                background: #fff;
                input {
                    width: 298px;
                    height: 38px;
                    padding-left: 10px;
                    line-height: 38px;
                    color: #333;
                    border: 1px solid #e8e8e8;
                    font-size: 16px;
                    border-radius: 3px 0 0 3px;
                    vertical-align: middle;
                }
                span{
                    display: inline-block;
                    position: absolute;
                    width: 39px;
                    height: 38px;
                    border:1px solid #e8e8e8;
                    border-left: none;
                    vertical-align: middle;
                    border-radius: 0 3px 3px 0;
                    background: url(http://static.biyao.com/pc/common/img/master/search.png?v=biyao_2e92562) center center no-repeat;
                    cursor: pointer;
                }
            }
        }
    }
}

// 导航栏
.nav-wrap {
    width: 100%;
    height: 105px;
    overflow: hidden;
    .nav-search {
        width: 1080px;
        height: 105px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        .logo {
            width: 239px;
            height: 98px;
            float: left;
            a {
                display: block;
                width: 239px;
                height: 98px;
                padding: 0;
                background: url(http://static1.biyao.com/pc/common/img/master/logo.png?v=biyao_e06b35d) center no-repeat;
            }
        }
        .search-wrap {
            width: 540px;
            height: 105px;
            float: right;
            position: relative;
            .search-box {
                width: 488px;
                height: 38px;
                border: 1px solid #cccccc;
                float: right;
                border-radius: 5px 0 0 5px;
                position: absolute;
                left: 0;
                top: 30px;
                padding-left: 10px;
            }
            .search {
                display: inline-block;
                width: 39px;
                height: 38px;
                border: 1px solid #cccccc;
                position: absolute;
                right: 0;
                top: 30px;
                border-left: none;
                border-radius: 0 5px 5px 0;
                background : url(http://static.biyao.com/pc/common/img/master/search.png?v=biyao_2e92562) center center no-repeat
            }
            .nav-list {
                width: 540px;
                height: 35px;
                position: absolute;
                line-height: 35px;
                position: absolute;
                left: 0;
                top: 70px;
                li {
                    float: left;
                    a {
                        display: block;
                        font-size: 12px;
                        color: #808080;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

// 右侧悬浮菜单
.rightBar {
    width: 48px;
    height: 144px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 10;
    margin-left: 550px;
    li {
        height: 48px;
        cursor: pointer;
    }
    .rightBar-share {
        background: url(http://static1.biyao.com/pc/common/img/master/rightBar-share.png?v=biyao_80da225) no-repeat;
    }
    .rightBar-code {
        // overflow: hidden;
        position: relative;
        background: url(http://static3.biyao.com/pc/common/img/master/rightBar-code.png?v=biyao_fe900d3) no-repeat;
        div {
            width: 300px;
            height: 180px;
            position: absolute;
            left: -310px;
            top: -66px;
            z-index: 10;
            background: #ffffff;
            display: none;
            span {
                width: 15px;
                height: 30px;
                position: absolute;
                left: 300px;
                top: 75px;
                z-index: 10;
                background: url(http://static2.biyao.com/pc/common/img/master/right-triangle.png?v=biyao_ba531e2) no-repeat;
            }
            dl {
                width: 150px;
                height: 150px;
                float: left;
                dt {
                    width: 150px;
                    height: 150px;
                    img {
                        display: block;
                        width: 150px;
                        height: 150px;
                    }
                }
                dd {
                    width: 150px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    color: gray;
                }
            }
        }
    }
    .rightBar-top {
        display: none;
        background: url(http://static.biyao.com/pc/common/img/master/rightBar-top.png?v=biyao_43b4dc3) no-repeat;
    }
    .rightBar-share:hover {
        background: url(http://static2.biyao.com/pc/common/img/master/rightBar-shareActive.png?v=biyao_07b0f4c) no-repeat;
    }
    .rightBar-code:hover {
        background: url(http://static4.biyao.com/pc/common/img/master/rightBar-codeActive.png?v=biyao_a0d97e9) no-repeat;
    }
    .rightBar-code:hover>div {
        display: block;
    }
    .rightBar-top:hover {
        background: url(http://static1.biyao.com/pc/common/img/master/rightBar-topActive.png?v=biyao_9ed53de) no-repeat;
    }
}

// 分享弹窗
.shareMask {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    display: none;
    .share {
        width: 450px;
        height: 208px;
        padding: 0 20px 25px 20px;
        position: fixed;
        z-index: 20;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #ffffff;
        p {
            width: 450px;
            height: 40px;
            border-bottom: 1px dotted #cccccc;
            line-height: 40px;
            span {
                display: block;
                float: left;
                font-size: 16px;
                cursor: pointer;
            }
            b {
                display: block;
                float: right;
                width: 16px;
                height: 16px;
                margin-top: 12px;
                cursor: pointer;
                background: url(http://static3.biyao.com/pc/common/img/master/cls_btn.png?v=biyao_614d241) no-repeat;
            }
        }
        .share-main {
            width: 450px;
            height: 152px;
            padding-top: 15px;
            dl {
                float: left;
                width: 120px;
                height: 144px;
                padding: 8px 25px 0 0;
                border-right: 1px solid #cccccc;
                dt {
                    width: 120px;
                    height: 120px;
                    background: url(http://www.biyao.com/RequestAPI/getQRCode?url=http%3A%2F%2Fm.biyao.com%2Fclassify%2FcategoryList%3FcategoryId%3D621%26title%3D%E5%92%96%E5%95%A1) no-repeat;
                    background-size: 100% 100%;
                }
                dd {
                    width: 120px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #666666;
                    text-align: center;
                }
            }
            ul {
                float: left;
                width: 281px;
                height: 84px;
                padding-top: 40px;
                li {
                    float: left;
                    width: 52px;
                    height: 84px;
                    margin-left: 15px;
                    a {
                        display: block;
                        width: 50px;
                        height: 50px;
                        background-size: 100% 100%;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        color: #666666;
                        margin-top: 15px;
                    }
                }
                li:nth-child(2) {
                    width: 56px;
                }
            }
        }
    }
}

// 底部栏
.footer-wrap {
    width: 100%;
    height: auto;
    clear: both;
    overflow: hidden;
    .footer {
        width: 1080px;
        overflow: hidden;
        margin: 0 auto;
        .footer-server {
            width: 1080px;
            height: 120px;
            border-bottom: 1px solid #333333;
            margin-bottom: 30px;
            li {
                float: left;
                width: 270px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                dl {
                    line-height: 120px;
                    dt {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        vertical-align: middle;
                    }
                    dd {
                        display: inline-block;
                        font-size: 16px;
                        color: #333333;
                        margin-left: 15px;
                    }
                }
            }
        }
        .footer-main {
            width: 1080px;
            .footer-main-left {
                width: 777px;
                padding-left: 50px;
                border-right: 1px solid #cccccc;
                float: left;
                li {
                    float: left;
                    width: 184px;
                    p {
                        display: block;
                        font-size: 16px;
                        color: #333333;
                        margin-bottom: 30px;
                    }
                    ul {
                        li {
                            float: none;
                            a {
                                font-size: 12px;
                                color: gray;
                            }
                        }
                    }
                    h3 {
                        width: 105px;
                        height: 105px;
                        background: url(http://static2.biyao.com/pc/common/img/master/app.png?v=biyao_41bce2f) center center no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .footer-main-right {
                float: right;
                width: 252px;
                text-align: center;
                dt {
                    font-size: 16px;
                    color: #333333;
                }
                dd {
                    margin-top: 30px;
                    font-size: 12px;
                    color: gray;
                }
            }
        }
        .footer-info {
            clear: both;
            padding-bottom: 10px;
            padding-top: 60px;
            p {
                margin-bottom: 10px;
                text-align: center;
                span {
                    display: inline-block;
                    margin: 0 10px;
                    font-size: 12px;
                    color: gray;
                }
            }
        }
    }
}